.el-form-item__content {
  .el-date-editor.el-input.msearch-form-item,
  .msearch-form-item {
    width: 100%;
  }
}
.yto-search-form {
  border-radius: 8px;
  overflow: hidden;

  .collapse-btn-box {
    .collapse-btn {
      &:hover {
        background: rgba(215, 219, 223, 0.2);
      }
    }
  }
}
