.table-w {
  $font-color: #2a2e32;
  $el-table-header-bg-color: #eceef1;
  $el-table-header-font-color: $font-color;
  $page-number-font-color: #151719;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;

  .el-table.is-scrolling-none th.el-table-fixed-column--left,
  .el-table.is-scrolling-none th.el-table-fixed-column--right,
  .el-table.is-scrolling-left th.el-table-fixed-column--left,
  .el-table.is-scrolling-right th.el-table-fixed-column--right {
    color: $el-table-header-font-color;
    background: $el-table-header-bg-color;
  }
  .el-table th.el-table__cell {
    color: $el-table-header-font-color;
    background: $el-table-header-bg-color;
  }
  .table-header {
    margin-bottom: 15px;
  }
  .pagination-hide-table > div::before {
    display: none;
  }
  .el-table__body-wrapper{
    .el-scrollbar__view {
      height: 100%;
    }
  }
  .my-el-pagination {
    display: flex;
    justify-content: center;
    padding: 16px 16px 0 0;
    * {
      color: $page-number-font-color;
    }
    .btn-prev,
    .btn-next {
      border: none;
    }
    .el-pager {
      display: flex;
      align-items: 'center';
      gap: 8px;
      padding: 0 8px;
      .number {
        border: none;
        font-size: 14px;
        &:hover {
          color: var(--el-color-primary);
          font-weight: bold;
        }
      }
    }
    .is-active.number {
      background-color: rgba(var(--el-color-primary-rgb), 0.2);
      color: var(--el-color-primary);
    }
  }
  .my-el-table {
    border-radius: 8px;
    overflow: hidden;

    .el-scrollbar__view {
      height: 100%;
    }
    .el-scrollbar__wrap {
      position: relative;
    }
    .el-table__append-wrapper {
      position: sticky;
      bottom: 0;
      z-index: 88;
    }
  }
  td.sort-cell-td {
    .cell {
      padding-right: 36px;
    }
  }
  .copy-icon-color {
    color: var(--el-color-primary);
  }
}
